* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/background.png);
    background-size: cover;
}

header img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 auto;
    opacity: 0.24;
    padding: 30px;
}

section.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.left-side {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 30px 0px 0px;
}

.right-side {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 0px 0px 30px;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 400;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 10px;
}

.input-container {
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.30);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form.box-form {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.box-element {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

/*INPUTS START*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 90px 10px 75px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.5px solid rgb(198, 198, 198);
    border-radius: 4px;
    background-color: #f4f4f4;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(175, 175, 175);
    font-weight: 500;
}

input[type="text"]:valid,
input[type="password"]:valid,
input[type="email"]:valid,
input[type="tel"]:valid,
textarea:valid,
select:valid {
    border: 0.5px solid rgb(38, 255, 70);
}

input[type="text"] {
    background: url(images/icons.png) no-repeat;
    background-position: 15px 0px;
}

input[type="password"] {
    background: url(images/icons.png) no-repeat;
    background-position: 15px -39px;
}

input[type="email"] {
    background: url(images/icons.png) no-repeat;
    background-position: 15px -77px;
}

input[type="tel"] {
    background: url(images/icons.png) no-repeat;
    background-position: 15px -153px;
}

select {
    background: url(images/icons.png) no-repeat;
    background-position: 15px -112px;
}

/*INPUTS END*/

/*CHECKBOXES START*/

.font-terms {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(100, 100, 100);
    font-size: 0.9em;
    text-align: center;
    margin-left: 5px;
    position: relative;
    top: -5px;
}

.accept-terms,
.remember-me,
.send-copy-mail {
    width: 1.50em;
    height: 1.50em;
    color: rgb(100, 100, 100);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid rgba(100, 100, 100, .5);
    border-radius: 5px;
}

.accept-terms:checked,
.remember-me:checked,
.send-copy-mail:checked {
    background: url(images/check.png) no-repeat center;
}

div.checkbox {
    width: 100%;
}

/*CHECKBOXES END*/

textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: 0.5px solid rgb(198, 198, 198);
    border-radius: 4px;
    background-color: #f4f4f4;
}

/*BUTTONS START*/

.green_button {
    margin-top: 0.5rem;
    width: 100%;
    height: 3rem;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    border: 1px solid rgb(59, 154, 0);
    cursor: pointer;
    border-radius: 2px;
    text-shadow: 1px 1px rgb(59, 154, 0);
    background: rgb(143, 196, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(143, 196, 0)), to(rgb(143, 196, 0)));
    background: linear-gradient(to bottom, rgb(143, 196, 0) 0%, rgb(143, 196, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400', GradientType=0);
}

.green_button:hover {
    background: rgb(157, 213, 58);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(157, 213, 58, 1)), color-stop(50%, rgba(161, 213, 79, 1)), color-stop(51%, rgba(128, 194, 23, 1)), to(rgba(124, 188, 10, 1)));
    background: linear-gradient(to bottom, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0);
}

.green_button_small,
.green_button_done {
    float: right;
    width: 45%;
    height: 2.7rem;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.0rem;
    border: 1px solid rgb(59, 154, 0);
    cursor: pointer;
    border-radius: 2px;
    text-shadow: 1px 1px rgb(59, 154, 0);
    background: rgb(143, 196, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(143, 196, 0)), to(rgb(143, 196, 0)));
    background: linear-gradient(to bottom, rgb(143, 196, 0) 0%, rgb(143, 196, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400', GradientType=0);
}

form:invalid input.green_button_done {
    pointer-events: none;
    opacity: 0.2;
    float: right;
    width: 45%;
    height: 2.7rem;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.0rem;
    border: 1px solid rgb(59, 154, 0);
    border-radius: 2px;
    text-shadow: 1px 1px rgb(59, 154, 0);
    background: rgb(143, 196, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(143, 196, 0)), to(rgb(143, 196, 0)));
    background: linear-gradient(to bottom, rgb(143, 196, 0) 0%, rgb(143, 196, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400', GradientType=0);
}

.green_button_small:hover,
.green_button_done:hover {
    background: rgb(157, 213, 58);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(157, 213, 58, 1)), color-stop(50%, rgba(161, 213, 79, 1)), color-stop(51%, rgba(128, 194, 23, 1)), to(rgba(124, 188, 10, 1)));
    background: linear-gradient(to bottom, rgba(157, 213, 58, 1) 0%, rgba(161, 213, 79, 1) 50%, rgba(128, 194, 23, 1) 51%, rgba(124, 188, 10, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a', GradientType=0);
}

.red_button_small {
    width: 45%;
    height: 2.7rem;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.0rem;
    border: 1px solid rgb(167, 44, 54);
    cursor: pointer;
    border-radius: 2px;
    background: rgb(244, 75, 93);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 75, 93, 1)), to(rgba(246, 94, 111, 1)));
    background: linear-gradient(to bottom, rgba(255, 75, 93, 1) 0%, rgba(246, 94, 111, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0);
}

.red_button_small:hover {
    background: rgb(248, 80, 50);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 80, 50, 1)), color-stop(50%, rgba(241, 111, 92, 1)), color-stop(51%, rgba(246, 41, 12, 1)), color-stop(71%, rgba(240, 47, 23, 1)), to(rgba(231, 56, 39, 1)));
    background: linear-gradient(to bottom, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0);
}

.buttons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*BUTTONS END*/

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    opacity: 0.24;
    padding: 30px;
}

/* MEDIA QUERIES */

/*Tablets*/

@media all and (min-width: 480px) and (max-width: 768px) {

    section.main-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: center;
        align-self: center;
    }

    div.left-side {
        margin: 0 auto;
        padding: 0;
        width: 60%;
    }

    div.right-side {
        margin: 0 auto;
        padding: 10px;
        width: 60%;
    }
}


/*Phones*/

@media all and (max-width: 480px) {

    section.main-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-item-align: center;
        align-self: center;
    }

    header img {
        width: 80%;
    }

    footer img {
        width: 80%;
    }

    div.left-side {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    div.right-side {
        margin: 0 auto;
        padding: 10px;
        width: 100%;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    select {
        padding-right: 30px;
    }

}

/*MOZILLA FIREFOX ADDITONAL SETTINGS*/

@-moz-document url-prefix() {
    textarea {
        margin-bottom: 20px;
    }
}
