* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/background.jpg);
    background-size: cover;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header img {
    -ms-flex-item-align: center;
    align-self: center;
    margin: 0 auto;
    opacity: 0.24;
    padding: 30px;
}

section.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.left-side {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 30px 0px 0px;
}

.right-side {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px 0px 0px 30px;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
    font-size: 1.8rem;
    font-weight: 400;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 10px;
}

.input-container {
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.30);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

form.box-form {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 3px;
}

.box-element {
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    padding: 10px 90px 10px 75px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0.5px solid rgb(198, 198, 198);
    border-radius: 4px;
    background-color: #f4f4f4;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(175, 175, 175);
    font-weight: 500;
}

input[type="text"] {
    background: url(images/icons.png) no-repeat;
    background-position: 15px 0px;
}

input[type="password"] {
    background: url(images/icons.png) no-repeat;
    background-position: 15px -39px;
}

input[type="email"] {
    background: url(images/icons.png) no-repeat;
    background-position: 15px -77px;
}

input[type="tel"] {
    background: url(images/icons.png) no-repeat;
    background-position: 15px -153px;
}

select {
    background: url(images/icons.png) no-repeat;
    background-position: 15px -112px;
}

.accept-terms,
.remember-me,
.send-copy-mail {
    width: 1.50em;
    height: 1.50em;
    color: rgba(100, 100, 100);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid rgba(100, 100, 100, .5);
    border-radius: 5px;
}


.font-terms {
    font-family: 'Titillium Web', sans-serif;
    color: rgba(100, 100, 100);
    font-size: 0.9em;
    text-align: center;
    margin-left: 5px;
    position: relative;
    top: -5px;
}

.accept-terms:checked,
.remember-me:checked,
.send-copy-mail:checked {
    background: url(images/check.png) no-repeat center;
}

textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border: 0.5px solid rgb(198, 198, 198);
    border-radius: 4px;
    background-color: #f4f4f4;
}
